docs/reference/maxshot/workflows/23_Notion_Content_Generator_deploy_v1.0.json
{
  "name": "23_Notion_Content_Generator_deploy_v1.0",
  "nodes": [
    {
      "parameters": {
        "content": "## 23_Notion_Content_Generator - Notion内容生成工作流\n\n**功能**: 从Notion获取文章素材，通过LLM判断生成模式（Single/Thread），生成内容并发布\n\n**触发**: Notion Trigger (Status=\"Ready\"时触发)\n\n**核心流程**:\n1. Notion触发 → 数据入库（notion_articles表）\n2. LLM文章清洗（生成Summary和Tags）\n3. RAG检索（基于Summary，返回全部）\n4. LLM模式判断（Single/Thread）\n5. 内容生成（根据模式生成推文）\n6. 图片处理（Notion图片下载和分配）\n7. Telegram审批（超时自动拒绝）\n8. 数据存储（路由到publishing_queue或thread_queue）\n\n**使用资产**:\n- 18_Notion-数据库查询-v1.0 (Notion属性扁平化)\n- 07_Code-null值默认值处理-v1.0 (null值处理)\n- 43_RAG检索模式-精度优化-v1.0 (RAG检索)\n- 36_HTTP Request-Notion图片下载-v1.0 (图片下载)\n- ERROR_003_Notion_Image_URL_Expired (403错误处理)\n- L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐ (LLM JSON解析，Asset Gateway核心节点)\n\n**使用Skill**:\n- Skill_LLM_Structured_Output v1.0（LLM结构化输出）\n\n**工作流类型**: Task式工作流（与日常生成式工作流区分）\n\n**重构状态**: ✅ 已重构为Skill合规版本（2025-01-30）\n- ✅ 3处JSON解析节点已替换为L2_JSON_Parse资产\n- ✅ 已添加Skill声明（Skill_LLM_Structured_Output v1.0）\n- ✅ 已添加资产指纹字段（_asset_id, _asset_version）\n\n**验证状态**: ✅ 已通过Lucy资产库验证（94.0/100，优秀水平）\n**验证日期**: 2025-01-30\n**验证报告**: Lucy-Alex_23_Notion_Content_Generator_Final_Verification_2025-01-30.md\n**Skill合规性**: ✅ 已符合Skill Registry规则",
        "height": 800,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -240,
        -400
      ],
      "id": "workflow-description",
      "name": "Workflow Description"
    },
    {
      "parameters": {
        "databaseId": "={{ $env.NOTION_DATABASE_ID }}",
        "triggerOn": "propertyUpdated",
        "propertyName": "Status",
        "propertyValue": "Ready"
      },
      "type": "n8n-nodes-base.notionTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "notion-trigger",
      "name": "Step1_NotionTrigger",
      "notes": "资产来源: 18_Notion-数据库查询-v1.0\n监听Notion数据库，当Status属性变为\"Ready\"时触发",
      "credentials": {
        "notionApi": {
          "id": "2pZooFZJz6rV8zcf",
          "name": "Notion account-Alex"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Notion属性扁平化处理\n// 资产来源: 18_Notion-数据库查询-v1.0\n// 功能：将Notion复杂的properties结构转换为扁平化对象\n\nconst input = $input.first().json || {};\nconst properties = input.properties || {};\n\n// 扁平化函数：提取Notion属性的值\nfunction flattenProperty(prop) {\n  if (!prop) return null;\n  \n  // Title类型\n  if (prop.title && Array.isArray(prop.title) && prop.title.length > 0) {\n    return prop.title[0].plain_text || '';\n  }\n  \n  // Rich Text类型\n  if (prop.rich_text && Array.isArray(prop.rich_text) && prop.rich_text.length > 0) {\n    return prop.rich_text.map(rt => rt.plain_text).join('') || '';\n  }\n  \n  // Select类型\n  if (prop.select) {\n    return prop.select.name || null;\n  }\n  \n  // Status类型\n  if (prop.status) {\n    return prop.status.name || null;\n  }\n  \n  // Date类型\n  if (prop.date) {\n    return prop.date.start || null;\n  }\n  \n  // Number类型\n  if (prop.number !== undefined && prop.number !== null) {\n    return prop.number;\n  }\n  \n  // Checkbox类型\n  if (prop.checkbox !== undefined) {\n    return prop.checkbox;\n  }\n  \n  // URL类型\n  if (prop.url) {\n    return prop.url;\n  }\n  \n  // Files类型（用于封面图片）\n  if (prop.files && Array.isArray(prop.files) && prop.files.length > 0) {\n    return prop.files[0].file?.url || prop.files[0].external?.url || null;\n  }\n  \n  // 其他类型，返回原始值\n  return prop;\n}\n\n// 构建扁平化对象\nconst flattened = {\n  notion_page_id: input.id || '',\n  created_at: input.created_time || null,\n  updated_at: input.last_edited_time || null\n};\n\n// 遍历所有properties，扁平化处理\nfor (const key in properties) {\n  const prop = properties[key];\n  const value = flattenProperty(prop);\n  \n  // 将属性名转换为下划线格式（snake_case）\n  const snakeKey = key.replace(/([A-Z])/g, '_$1').toLowerCase().replace(/^_/, '');\n  flattened[snakeKey] = value;\n}\n\n// 映射到notion_articles表字段\n// 假设Notion属性名：Title -> title, Draft Body -> body, Cover Image -> cover_image_url, etc.\nconst articleData = {\n  notion_page_id: flattened.notion_page_id || flattened.id || '',\n  title: flattened.title || flattened.name || '',\n  body: flattened.body || flattened.draft_body || flattened.content || '',\n  cover_image_url: flattened.cover_image_url || flattened.cover_image || null,\n  post_frequency: flattened.post_frequency || flattened.frequency || '单次',\n  post_time: flattened.post_time || null,\n  topic: flattened.topic || '',\n  status: 'pending'\n};\n\nreturn [{ json: articleData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        0
      ],
      "id": "flatten-notion-properties",
      "name": "Step2_FlattenNotionProperties",
      "notes": "资产来源: 18_Notion-数据库查询-v1.0\n将Notion复杂的properties结构转换为扁平化对象，映射到notion_articles表字段",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// null值默认值处理\n// 资产来源: 07_Code-null值默认值处理-v1.0\n// 功能：处理null值和undefined值，设置默认值，防止后续节点报错\n\nconst input = $input.first().json;\nlet data = input || {};\n\n// 确保关键字段不为null\n// notion_articles表必填字段：notion_page_id, title, body, post_frequency, topic\n// 使用 ?? 运算符处理null和undefined\ndata.notion_page_id = data.notion_page_id ?? '';\ndata.title = data.title ?? '';\ndata.body = data.body ?? '';\ndata.post_frequency = data.post_frequency ?? '单次';\ndata.topic = data.topic ?? '';\ndata.status = data.status ?? 'pending';\n\n// 可选字段使用null作为默认值（数据库允许NULL）\ndata.cover_image_url = data.cover_image_url ?? null;\ndata.post_time = data.post_time ?? null;\n\n// 验证必填字段\nif (!data.notion_page_id || !data.title || !data.body || !data.topic) {\n  return [{\n    json: {\n      success: false,\n      error: 'Missing required fields: notion_page_id, title, body, or topic',\n      data: data\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    success: true,\n    ...data\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        0
      ],
      "id": "null-value-handling",
      "name": "Step3_NullValueHandling",
      "notes": "资产来源: 07_Code-null值默认值处理-v1.0\n处理null值和undefined值，确保必填字段有默认值",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "notion_articles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_page_id",
              "fieldValue": "={{ $json.notion_page_id }}"
            },
            {
              "fieldId": "title",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "body",
              "fieldValue": "={{ $json.body }}"
            },
            {
              "fieldId": "cover_image_url",
              "fieldValue": "={{ $json.cover_image_url }}"
            },
            {
              "fieldId": "post_frequency",
              "fieldValue": "={{ $json.post_frequency }}"
            },
            {
              "fieldId": "post_time",
              "fieldValue": "={{ $json.post_time }}"
            },
            {
              "fieldId": "topic",
              "fieldValue": "={{ $json.topic }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        },
        "options": {
          "onConflict": "notion_page_id"
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        0
      ],
      "id": "supabase-insert-article",
      "name": "Step4_InsertToNotionArticles",
      "notes": "资产来源: 02_Supabase-基础插入-v1.0\n插入notion_articles表，使用fieldsUi手动指定字段",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fnZnIabVYCs4FncC",
          "name": "SupabaseMaxshot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 准备LLM文章清洗输入\n// 功能：提取文章body，准备传递给LLM进行清洗\n\nconst input = $input.first().json;\nconst articleData = input || {};\n\n// 提取文章body（用于LLM清洗）\nconst articleBody = articleData.body || '';\n\n// 构建LLM清洗输入\nreturn [{\n  json: {\n    article_id: articleData.id || articleData.notion_page_id || '',\n    article_body: articleBody,\n    title: articleData.title || '',\n    // 保留原始数据供后续使用\n    original_data: articleData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        0
      ],
      "id": "prepare-llm-cleaning",
      "name": "Step5_PrepareLLMCleaning",
      "notes": "准备LLM文章清洗输入，提取文章body",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=文章内容:\n{{ $json.article_body }}\n\n要求:\n1. 生成文章摘要（200字内，突出核心内容）\n2. 生成3-5个关键词标签（JSON数组格式）\n\n输出格式(JSON):\n{\n  \"summary\": \"文章摘要（200字内）\",\n  \"tags\": [\"标签1\", \"标签2\", \"标签3\", \"标签4\", \"标签5\"]\n}",
        "options": {
          "systemMessage": "=你是一个内容分析专家。请分析以下文章，生成摘要和标签。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1200,
        0
      ],
      "id": "llm-article-cleaning",
      "name": "Step6_LLMArticleCleaning",
      "notes": "LLM文章清洗，生成Summary和Tags\n使用DeepSeek模型",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// LLM JSON输出解析（L2_JSON_Parse资产节点）\n// 资产来源: L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐\n// 功能：解析LLM返回的JSON格式数据（summary和tags），清理Markdown代码块标记\n\nconst input = $input.first().json || {};\n\n// 获取LLM输出（支持多种字段名）\nlet aiOutput = input.output || input.text || input.response || input.choices?.[0]?.message?.content || input.message?.content || input.content || '';\n\n// 清理markdown代码块标记（L2_JSON_Parse核心逻辑）\nif (typeof aiOutput === 'string') {\n  let cleaned = aiOutput.trim();\n  cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '');\n  cleaned = cleaned.replace(/\\s*```$/g, '');\n  cleaned = cleaned.trim();\n  aiOutput = cleaned;\n}\n\n// 尝试解析JSON（L2_JSON_Parse核心逻辑）\nlet parsedData = null;\ntry {\n  if (typeof aiOutput === 'string') {\n    parsedData = JSON.parse(aiOutput);\n  } else if (typeof aiOutput === 'object') {\n    parsedData = aiOutput;\n  }\n} catch (e) {\n  // 返回错误信息（L2_JSON_Parse错误处理）\n  const originalData = $('Step5_PrepareLLMCleaning').item.json || {};\n  return [{\n    json: {\n      _asset_id: 'L2_JSON_Parse',\n      _asset_version: 'v1.0',\n      error: 'Failed to parse LLM output as JSON',\n      error_message: e.message,\n      raw_output: aiOutput,\n      parse_failed: true,\n      parse_success: false,\n      article_id: originalData.article_id || '',\n      summary: '',\n      tags: [],\n      status: 'processing',\n      original_data: originalData.original_data || {}\n    }\n  }];\n}\n\n// 验证解析结果（L2_JSON_Parse验证逻辑）\nif (!parsedData) {\n  const originalData = $('Step5_PrepareLLMCleaning').item.json || {};\n  return [{\n    json: {\n      _asset_id: 'L2_JSON_Parse',\n      _asset_version: 'v1.0',\n      error: 'Invalid output format: expected JSON object',\n      parse_failed: true,\n      parse_success: false,\n      article_id: originalData.article_id || '',\n      summary: '',\n      tags: [],\n      status: 'processing',\n      original_data: originalData.original_data || {}\n    }\n  }];\n}\n\n// 提取原始数据\nconst originalData = $('Step5_PrepareLLMCleaning').item.json || {};\n\n// 提取业务字段（summary和tags）\nconst summary = parsedData.summary || '';\nconst tags = Array.isArray(parsedData.tags) ? parsedData.tags : [];\n\n// 构建更新数据（包含资产指纹）\nreturn [{\n  json: {\n    _asset_id: 'L2_JSON_Parse',\n    _asset_version: 'v1.0',\n    parse_success: true,\n    article_id: originalData.article_id || '',\n    summary: summary,\n    tags: tags,\n    status: 'processing', // 更新状态为处理中\n    original_data: originalData.original_data || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        0
      ],
      "id": "parse-cleaning-output",
      "name": "Step7_ParseCleaningOutput",
      "notes": "资产来源: L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐\nAsset Gateway 核心节点\n解析LLM返回的JSON格式数据（summary和tags），支持markdown代码块清理\n使用Skill: Skill_LLM_Structured_Output v1.0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notion_articles",
        "id": "={{ $json.article_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1680,
        0
      ],
      "id": "update-article-summary",
      "name": "Step8_UpdateArticleSummary",
      "notes": "资产来源: 03_Supabase-基础更新-v1.0\n更新notion_articles表的summary和tags字段，status更新为processing",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fnZnIabVYCs4FncC",
          "name": "SupabaseMaxshot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 准备RAG检索输入\n// 功能：基于Summary进行RAG检索，返回全部结果\n// 资产来源: 43_RAG检索模式-精度优化-v1.0\n\nconst input = $input.first().json || {};\nconst articleData = $('Step8_UpdateArticleSummary').item.json || {};\nconst originalData = $('Step7_ParseCleaningOutput').item.json?.original_data || {};\n\n// 获取Summary作为检索查询\nconst summary = articleData.summary || originalData.summary || '';\n\n// 构建RAG检索输入\nreturn [{\n  json: {\n    query: summary,\n    clean_query: summary,\n    article_id: articleData.article_id || originalData.article_id || '',\n    article_body: originalData.article_body || originalData.body || '',\n    topic: originalData.topic || '',\n    post_frequency: originalData.post_frequency || '单次',\n    // 保留原始数据\n    original_data: originalData\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        0
      ],
      "id": "prepare-rag-query",
      "name": "Step9_PrepareRAGQuery",
      "notes": "资产来源: 43_RAG检索模式-精度优化-v1.0\n准备RAG检索输入，基于Summary检索",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "input": "={{ $json.clean_query || $json.query }}",
        "options": {
          "taskType": "RETRIEVAL_DOCUMENT"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        0
      ],
      "id": "gemini-embeddings",
      "name": "Step10_GoogleGeminiEmbeddings",
      "notes": "资产来源: 43_RAG检索模式-精度优化-v1.0\n向量化Summary查询，Task Type必须设置为RETRIEVAL_DOCUMENT",
      "credentials": {
        "googlePalmApi": {
          "id": "google-gemini-credential",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "faq_sources",
          "mode": "list",
          "cachedResultName": "faq_sources"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        2400,
        0
      ],
      "id": "supabase-vector-search",
      "name": "Step11_SupabaseVectorSearch",
      "notes": "资产来源: 43_RAG检索模式-精度优化-v1.0\nRAG检索，基于Summary向量化结果检索产品文档\nmatchThreshold=0.5（较低阈值以返回更多结果）\nmatchCount=50（返回全部相关文档）",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fnZnIabVYCs4FncC",
          "name": "SupabaseMaxshot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format Retrieved Context - 格式化检索结果\n// 资产来源: 43_RAG检索模式-精度优化-v1.0\n// 功能：格式化检索结果，作为背景知识传递给LLM\n\nconst inputItems = $input.all() || [];\nconst query = $('Step9_PrepareRAGQuery').item.json.query || '';\n\n// 提取检索结果\nconst retrievedDocs = inputItems.map(item => item.json || {});\n\n// 格式化检索结果，按相似度排序（match_score降序）\nconst formattedContexts = retrievedDocs\n  .sort((a, b) => (b.match_score || 0) - (a.match_score || 0))\n  .map((doc, index) => {\n    return {\n      index: index + 1,\n      content: doc.content || '',\n      metadata: doc.metadata || {},\n      match_score: doc.match_score || 0,\n      source_url: doc.metadata?.source_url || null,\n      source_doc_id: doc.metadata?.source_doc_id || null\n    };\n  });\n\n// 构建格式化的上下文文本（供LLM使用）\nconst contextText = formattedContexts.map((ctx, idx) => {\n  return `[Context ${idx + 1}]\\n${ctx.content}\\n`;\n}).join('\\n---\\n\\n');\n\n// 构建检索统计\nconst retrievalStats = {\n  query: query,\n  total_retrieved: retrievedDocs.length,\n  formatted_count: formattedContexts.length,\n  average_match_score: retrievedDocs.length > 0 \n    ? (retrievedDocs.reduce((sum, doc) => sum + (doc.match_score || 0), 0) / retrievedDocs.length).toFixed(3)\n    : 0\n};\n\n// 获取原始数据\nconst originalData = $('Step9_PrepareRAGQuery').item.json || {};\n\nreturn [{\n  json: {\n    query: query,\n    retrieved_contexts: formattedContexts,\n    context_text: contextText,\n    retrieval_stats: retrievalStats,\n    // 保留原始数据供后续使用\n    article_id: originalData.article_id || '',\n    article_body: originalData.article_body || '',\n    topic: originalData.topic || '',\n    post_frequency: originalData.post_frequency || '单次',\n    original_data: originalData.original_data || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        0
      ],
      "id": "format-retrieved-context",
      "name": "Step12_FormatRetrievedContext",
      "notes": "资产来源: 43_RAG检索模式-精度优化-v1.0\n格式化检索结果，作为背景知识传递给LLM",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=背景知识(RAG检索结果):\n{{ $json.context_text }}\n\n文章内容:\n{{ $json.article_body }}\n\n主题: {{ $json.topic }}\n发帖频率: {{ $json.post_frequency }}\n\n要求:\n1. 基于文章内容长度判断是生成Single还是Thread\n2. 如果是Thread，判断需要几条推文(3-8条)\n3. 如果是一周多次，生成1个主推文 + x个辅助推文(x < 频率数值)\n4. 每个推文可以是Single或Thread格式\n\n输出格式(JSON):\n{\n  \"mode\": \"single\" | \"thread\",\n  \"reason\": \"判断理由\",\n  \"tweets\": [\n    {\n      \"type\": \"main\" | \"supplementary\",\n      \"format\": \"single\" | \"thread\",\n      \"content\": \"推文内容(如果是single)\",\n      \"thread_items\": [\n        {\"index\": 1, \"text\": \"推文1\"},\n        {\"index\": 2, \"text\": \"推文2\"}\n      ]\n    }\n  ]\n}",
        "options": {
          "systemMessage": "=你是一个内容发布策略专家。基于以下信息，判断如何生成Twitter内容。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        2880,
        0
      ],
      "id": "llm-mode-judgment",
      "name": "Step13_LLMModeJudgment",
      "notes": "LLM模式判断，判断生成模式（Single/Thread）\n基于文章内容、RAG检索结果、Topic和频率判断",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// LLM JSON输出解析（L2_JSON_Parse资产节点）\n// 资产来源: L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐\n// 功能：解析LLM返回的JSON格式判断结果（mode、reason、tweets），清理Markdown代码块标记\n\nconst input = $input.first().json || {};\n\n// 获取LLM输出（支持多种字段名）\nlet aiOutput = input.output || input.text || input.response || input.choices?.[0]?.message?.content || input.message?.content || input.content || '';\n\n// 清理markdown代码块标记（L2_JSON_Parse核心逻辑）\nif (typeof aiOutput === 'string') {\n  let cleaned = aiOutput.trim();\n  cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '');\n  cleaned = cleaned.replace(/\\s*```$/g, '');\n  cleaned = cleaned.trim();\n  aiOutput = cleaned;\n}\n\n// 尝试解析JSON（L2_JSON_Parse核心逻辑）\nlet parsedData = null;\ntry {\n  if (typeof aiOutput === 'string') {\n    parsedData = JSON.parse(aiOutput);\n  } else if (typeof aiOutput === 'object') {\n    parsedData = aiOutput;\n  }\n} catch (e) {\n  // 返回错误信息（L2_JSON_Parse错误处理）\n  const ragData = $('Step12_FormatRetrievedContext').item.json || {};\n  return [{\n    json: {\n      _asset_id: 'L2_JSON_Parse',\n      _asset_version: 'v1.0',\n      error: 'Failed to parse LLM output as JSON',\n      error_message: e.message,\n      raw_output: aiOutput,\n      parse_failed: true,\n      parse_success: false,\n      mode: 'single',\n      reason: 'LLM输出解析失败，使用默认Single模式',\n      tweets: [{\n        type: 'main',\n        format: 'single',\n        content: ''\n      }],\n      article_id: ragData.article_id || '',\n      article_body: ragData.article_body || '',\n      topic: ragData.topic || '',\n      post_frequency: ragData.post_frequency || '单次',\n      context_text: ragData.context_text || '',\n      original_data: ragData.original_data || {}\n    }\n  }];\n}\n\n// 验证解析结果（L2_JSON_Parse验证逻辑）\nif (!parsedData) {\n  const ragData = $('Step12_FormatRetrievedContext').item.json || {};\n  return [{\n    json: {\n      _asset_id: 'L2_JSON_Parse',\n      _asset_version: 'v1.0',\n      error: 'Invalid output format: expected JSON object',\n      parse_failed: true,\n      parse_success: false,\n      mode: 'single',\n      reason: 'LLM输出解析失败，使用默认Single模式',\n      tweets: [{\n        type: 'main',\n        format: 'single',\n        content: ''\n      }],\n      article_id: ragData.article_id || '',\n      article_body: ragData.article_body || '',\n      topic: ragData.topic || '',\n      post_frequency: ragData.post_frequency || '单次',\n      context_text: ragData.context_text || '',\n      original_data: ragData.original_data || {}\n    }\n  }];\n}\n\n// 获取原始数据\nconst ragData = $('Step12_FormatRetrievedContext').item.json || {};\n\n// 提取业务字段（mode、reason、tweets）\nconst mode = parsedData.mode || 'single';\nconst reason = parsedData.reason || '';\nconst tweets = Array.isArray(parsedData.tweets) ? parsedData.tweets : [];\n\n// 构建输出数据（包含资产指纹）\nreturn [{\n  json: {\n    _asset_id: 'L2_JSON_Parse',\n    _asset_version: 'v1.0',\n    parse_success: true,\n    mode: mode,\n    reason: reason,\n    tweets: tweets,\n    // 保留原始数据\n    article_id: ragData.article_id || '',\n    article_body: ragData.article_body || '',\n    topic: ragData.topic || '',\n    post_frequency: ragData.post_frequency || '单次',\n    context_text: ragData.context_text || '',\n    original_data: ragData.original_data || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3120,
        0
      ],
      "id": "parse-mode-judgment",
      "name": "Step14_ParseModeJudgment",
      "notes": "资产来源: L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐\nAsset Gateway 核心节点\n解析LLM返回的JSON格式判断结果（mode、reason、tweets），支持markdown代码块清理\n使用Skill: Skill_LLM_Structured_Output v1.0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 展开tweets数组，为每个tweet生成内容\n// 功能：将tweets数组展开为多个item，每个item对应一个需要生成的推文\n\nconst input = $input.first().json || {};\nconst tweets = input.tweets || [];\n\n// 如果没有tweets，返回空数组\nif (!Array.isArray(tweets) || tweets.length === 0) {\n  return [{\n    json: {\n      error: 'No tweets to generate',\n      mode: input.mode || 'single',\n      original_data: input\n    }\n  }];\n}\n\n// 展开tweets数组，为每个tweet创建独立的item\nconst items = tweets.map((tweet, index) => {\n  return {\n    json: {\n      tweet_index: index + 1,\n      tweet_type: tweet.type || 'main',\n      tweet_format: tweet.format || 'single',\n      tweet_content: tweet.content || '',\n      thread_items: tweet.thread_items || [],\n      // 保留原始数据\n      mode: input.mode || 'single',\n      reason: input.reason || '',\n      article_id: input.article_id || '',\n      article_body: input.article_body || '',\n      topic: input.topic || '',\n      post_frequency: input.post_frequency || '单次',\n      context_text: input.context_text || '',\n      original_data: input.original_data || {}\n    }\n  };\n});\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        0
      ],
      "id": "expand-tweets",
      "name": "Step15_ExpandTweets",
      "notes": "展开tweets数组，为每个tweet生成内容做准备",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=背景知识(RAG检索结果):\n{{ $json.context_text }}\n\n文章内容:\n{{ $json.article_body }}\n\n主题: {{ $json.topic }}\n生成模式: {{ $json.mode }}\n推文格式: {{ $json.tweet_format }}\n推文类型: {{ $json.tweet_type }} (main/supplementary)\n\n要求:\n1. 内容围绕主题{{ $json.topic }}\n2. 结合背景知识，确保内容准确\n3. 符合Twitter格式要求(280字符/条)\n4. 使用合适的emoji和格式化\n5. 如果是Thread，添加编号(1/6, 2/6, ...)\n6. 如果是Single格式，生成单条推文内容\n7. 如果是Thread格式，生成Thread内容数组\n\n输出格式:\n- 如果是Single: 直接输出推文内容\n- 如果是Thread: 输出JSON格式 {\"thread_items\": [{\"index\": 1, \"text\": \"推文1\"}, {\"index\": 2, \"text\": \"推文2\"}]}",
        "options": {
          "systemMessage": "=你是一个Twitter内容创作专家。基于以下信息生成Twitter内容。"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        3600,
        0
      ],
      "id": "llm-content-generation",
      "name": "Step16_LLMContentGeneration",
      "notes": "LLM内容生成，根据模式生成推文内容\n针对每个tweet配置生成内容",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// LLM JSON输出解析（L2_JSON_Parse资产节点）\n// 资产来源: L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐\n// 功能：解析LLM生成的内容，格式化Single或Thread格式，清理Markdown代码块标记\n\nconst input = $input.first().json || {};\n\n// 获取LLM输出（支持多种字段名）\nlet aiOutput = input.output || input.text || input.response || input.choices?.[0]?.message?.content || input.message?.content || input.content || '';\n\n// 获取tweet配置\nconst tweetConfig = $('Step15_ExpandTweets').item.json || {};\nconst tweetFormat = tweetConfig.tweet_format || 'single';\n\nlet finalContent = '';\nlet threadItems = [];\n\nif (tweetFormat === 'thread') {\n  // Thread格式：使用L2_JSON_Parse逻辑解析JSON\n  \n  // 清理markdown代码块标记（L2_JSON_Parse核心逻辑）\n  let cleaned = typeof aiOutput === 'string' ? aiOutput.trim() : '';\n  cleaned = cleaned.replace(/^```(?:json)?\\s*/i, '');\n  cleaned = cleaned.replace(/\\s*```$/g, '');\n  cleaned = cleaned.trim();\n  \n  // 尝试解析JSON（L2_JSON_Parse核心逻辑）\n  let parsedData = null;\n  try {\n    if (typeof cleaned === 'string' && cleaned) {\n      parsedData = JSON.parse(cleaned);\n    } else if (typeof aiOutput === 'object') {\n      parsedData = aiOutput;\n    }\n  } catch (e) {\n    // 如果解析失败，将输出按行分割为Thread（降级处理）\n    const lines = aiOutput.split('\\n').filter(line => line.trim());\n    threadItems = lines.map((line, index) => ({\n      index: index + 1,\n      text: line.trim()\n    }));\n    \n    // 构建Thread内容文本\n    finalContent = threadItems.map(item => item.text).join('\\n---\\n');\n    \n    // 构建输出（包含资产指纹，但标记为降级处理）\n    return [{\n      json: {\n        _asset_id: 'L2_JSON_Parse',\n        _asset_version: 'v1.0',\n        parse_success: false,\n        parse_warning: 'Failed to parse as JSON, using fallback text parsing',\n        tweet_type: tweetConfig.tweet_type || 'main',\n        tweet_format: tweetFormat,\n        content: finalContent,\n        thread_items: threadItems,\n        thread_count: threadItems.length,\n        article_id: tweetConfig.article_id || '',\n        topic: tweetConfig.topic || '',\n        post_frequency: tweetConfig.post_frequency || '单次',\n        original_data: tweetConfig.original_data || {}\n      }\n    }];\n  }\n  \n  // 验证解析结果（L2_JSON_Parse验证逻辑）\n  if (!parsedData) {\n    // 降级处理：按行分割\n    const lines = aiOutput.split('\\n').filter(line => line.trim());\n    threadItems = lines.map((line, index) => ({\n      index: index + 1,\n      text: line.trim()\n    }));\n    finalContent = threadItems.map(item => item.text).join('\\n---\\n');\n  } else {\n    // 成功解析：提取thread_items\n    threadItems = Array.isArray(parsedData.thread_items) ? parsedData.thread_items : [];\n    \n    // 如果解析失败，尝试从文本中提取（降级处理）\n    if (threadItems.length === 0) {\n      const lines = aiOutput.split('\\n').filter(line => line.trim());\n      threadItems = lines.map((line, index) => ({\n        index: index + 1,\n        text: line.trim()\n      }));\n    }\n    \n    // 构建Thread内容文本\n    finalContent = threadItems.map(item => item.text || item).join('\\n---\\n');\n  }\n} else {\n  // Single格式：使用L2_JSON_Parse逻辑清理markdown标记\n  \n  // 清理markdown代码块标记（L2_JSON_Parse核心逻辑）\n  let cleaned = typeof aiOutput === 'string' ? aiOutput.trim() : '';\n  cleaned = cleaned.replace(/^```(?:markdown|text|json)?\\s*/i, '');\n  cleaned = cleaned.replace(/\\s*```$/g, '');\n  cleaned = cleaned.trim();\n  \n  finalContent = cleaned;\n}\n\n// 构建最终输出（包含资产指纹）\nreturn [{\n  json: {\n    _asset_id: 'L2_JSON_Parse',\n    _asset_version: 'v1.0',\n    parse_success: true,\n    tweet_type: tweetConfig.tweet_type || 'main',\n    tweet_format: tweetFormat,\n    content: finalContent,\n    thread_items: threadItems,\n    thread_count: threadItems.length,\n    // 保留原始数据\n    article_id: tweetConfig.article_id || '',\n    topic: tweetConfig.topic || '',\n    post_frequency: tweetConfig.post_frequency || '单次',\n    original_data: tweetConfig.original_data || {}\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3840,
        0
      ],
      "id": "parse-content-generation",
      "name": "Step17_ParseContentGeneration",
      "notes": "资产来源: L2_JSON_Parse-LLM JSON输出解析节点-v1.0 ⭐\nAsset Gateway 核心节点\n解析LLM生成的内容，格式化Single或Thread格式，支持markdown代码块清理\n使用Skill: Skill_LLM_Structured_Output v1.0",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 检查是否需要处理图片\n// 功能：检查cover_image_url是否存在，准备图片处理\n\nconst input = $input.first().json || {};\nconst originalData = input.original_data || {};\n\n// 获取封面图片URL\nconst coverImageUrl = originalData.cover_image_url || null;\n\n// 判断是否需要下载图片\nconst needsImageProcessing = coverImageUrl && coverImageUrl.trim() !== '';\n\nreturn [{\n  json: {\n    needs_image_processing: needsImageProcessing,\n    cover_image_url: coverImageUrl,\n    // 保留所有数据\n    ...input\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        0
      ],
      "id": "check-image-needed",
      "name": "Step18_CheckImageNeeded",
      "notes": "检查是否需要处理图片（cover_image_url是否存在）",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "image-check-condition",
              "leftValue": "={{ $json.needs_image_processing }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        4320,
        0
      ],
      "id": "if-image-needed",
      "name": "Step19_IfImageNeeded",
      "notes": "判断是否需要下载图片",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "url": "={{ $json.cover_image_url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "neverError": true
            }
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        0
      ],
      "id": "download-notion-image",
      "name": "Step20_DownloadNotionImage",
      "notes": "资产来源: 36_HTTP Request-Notion图片下载-v1.0\n下载Notion图片，处理403错误（URL过期）\n已启用neverError: true处理403错误",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 检查图片下载状态\n// 资产来源: ERROR_003_Notion_Image_URL_Expired\n// 功能：检查HTTP状态码和Binary数据，处理403错误（URL过期）\n\nconst input = $input.first() || {};\nconst json = input.json || {};\nconst binary = input.binary || {};\n\n// 获取HTTP状态码\nconst statusCode = json.statusCode || json.status || 200;\n\n// 检查Binary数据是否存在\nconst hasBinaryData = !!(binary.data && binary.data.data);\n\n// 判断下载是否成功\nconst downloadSuccess = statusCode === 200 && hasBinaryData;\n\n// 判断错误类型\nlet errorType = null;\nlet errorMessage = null;\nif (!downloadSuccess) {\n  if (statusCode === 403) {\n    errorType = 'url_expired';\n    errorMessage = 'Image URL expired or access denied';\n  } else if (statusCode >= 400) {\n    errorType = 'download_failed';\n    errorMessage = `Download failed with status ${statusCode}`;\n  } else if (!hasBinaryData) {\n    errorType = 'no_binary_data';\n    errorMessage = 'No binary data received';\n  }\n}\n\n// 获取原始数据\nconst originalData = $('Step18_CheckImageNeeded').item.json || {};\n\nreturn [{\n  json: {\n    download_success: downloadSuccess,\n    status_code: statusCode,\n    has_binary_data: hasBinaryData,\n    error_type: errorType,\n    error_message: errorMessage,\n    should_skip_image_upload: !downloadSuccess, // 如果下载失败，跳过图片上传\n    // 保留原始数据\n    ...originalData\n  },\n  binary: downloadSuccess ? binary : undefined // 只有下载成功才传递Binary数据\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        0
      ],
      "id": "check-image-download-status",
      "name": "Step21_CheckImageDownloadStatus",
      "notes": "资产来源: ERROR_003_Notion_Image_URL_Expired\n检查图片下载状态，处理403错误（URL过期）\n如果下载失败，设置should_skip_image_upload: true",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "download-success-condition",
              "leftValue": "={{ $json.download_success }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        5040,
        0
      ],
      "id": "if-download-success",
      "name": "Step22_IfDownloadSuccess",
      "notes": "判断图片下载是否成功\n只有下载成功才继续上传",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://uzbbumqbyfssijmcwwwy.supabase.co/storage/v1/object/notion-images/{{ $now.format('yyyyMMdd_HHmmss') }}_{{ $('Step17_ParseContentGeneration').item.json.article_id || 'unknown' }}.jpg",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6YmJ1bXFieWZzc2lqbWN3d3d5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkxMzU1MCwiZXhwIjoyMDc1NDg5NTUwfQ.Kqkj_QUO-qVeKwMXLfobWRfuMwnFQaWsg0GDQrmHYSg"
            },
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6YmJ1bXFieWZzc2lqbWN3d3d5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTkxMzU1MCwiZXhwIjoyMDc1NDg5NTUwfQ.Kqkj_QUO-qVeKwMXLfobWRfuMwnFQaWsg0GDQrmHYSg"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        4800,
        0
      ],
      "id": "upload-to-supabase-storage",
      "name": "Step23_UploadToSupabaseStorage",
      "notes": "资产来源: HTTP Request节点标准配置模式（参考16_Alpha_Flash_Post_Notion_Sync工作流）\n上传图片到Supabase Storage\n- 使用Supabase Storage REST API (POST /storage/v1/object/{bucket}/{path})\n- 认证方式: Bearer Token + API Key (Header)\n- 内容类型: binaryData (二进制数据)\n- 存储路径: notion-images/{{时间戳}}_{{article_id}}.jpg\n- 错误处理: neverError=true (不中断工作流)",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 合并图片URL和内容数据\n// 功能：将图片URL合并到内容数据中\n\nconst imageData = $input.first().json || {};\nconst contentData = $('Step17_ParseContentGeneration').item.json || {};\n\n// 构建公共URL\nconst publicBaseUrl = \"https://uzbbumqbyfssijmcwwwy.supabase.co/storage/v1/object/public/\";\nconst imageKey = imageData.Key || '';\nconst finalImageUrl = imageKey ? publicBaseUrl + imageKey : null;\n\n// 判断是否为主推文（只有main类型才分配图片）\nconst isMainTweet = contentData.tweet_type === 'main';\n\nreturn [{\n  json: {\n    ...contentData,\n    image_url: isMainTweet ? finalImageUrl : null,\n    image_uploaded: !!finalImageUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        0
      ],
      "id": "merge-image-url",
      "name": "Step24_MergeImageURL",
      "notes": "合并图片URL到内容数据\n只有main类型的推文才分配图片",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 处理图片下载失败情况\n// 资产来源: ERROR_003_Notion_Image_URL_Expired\n// 功能：如果图片下载失败（403错误），跳过图片上传，继续处理内容\n\nconst input = $input.first().json || {};\nconst contentData = $('Step17_ParseContentGeneration').item.json || {};\n\n// 如果下载失败，设置image_url为null，继续处理内容\nreturn [{\n  json: {\n    ...contentData,\n    image_url: null,\n    image_uploaded: false,\n    download_error: input.error_message || null,\n    error_type: input.error_type || null\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        200
      ],
      "id": "handle-image-download-failure",
      "name": "Step25_HandleImageDownloadFailure",
      "notes": "资产来源: ERROR_003_Notion_Image_URL_Expired\n处理图片下载失败情况（403错误等）\n跳过图片上传，继续处理内容",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5280,
        0
      ],
      "id": "merge-content-image",
      "name": "Step26_MergeContentAndImage",
      "notes": "合并内容数据和图片数据（如果有图片）",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 处理无图片情况\n// 功能：如果没有图片，直接使用内容数据\n\nconst input = $input.first().json || {};\n\n// 如果没有图片处理，直接使用内容数据\nif (!input.needs_image_processing) {\n  const contentData = $('Step17_ParseContentGeneration').item.json || {};\n  return [{\n    json: {\n      ...contentData,\n      image_url: null,\n      image_uploaded: false\n    }\n  }];\n}\n\n// 如果有图片处理，使用合并后的数据\nreturn [{ json: input }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5280,
        200
      ],
      "id": "handle-no-image",
      "name": "Step27_HandleNoImage",
      "notes": "处理无图片情况，直接使用内容数据",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 准备Telegram审批消息\n// 功能：构建审批消息内容\n\nconst input = $input.first().json || {};\n\n// 构建审批消息\nconst approvalMessage = `📝 新内容待审批\\n\\n` +\n  `主题: ${input.topic || 'N/A'}\\n` +\n  `类型: ${input.tweet_type || 'N/A'} (${input.tweet_format || 'N/A'})\\n` +\n  `内容:\\n${input.content || 'N/A'}\\n\\n` +\n  `请回复 /approve 批准 或 /reject 拒绝\\n` +\n  `超时时间: 30分钟`;\n\nreturn [{\n  json: {\n    ...input,\n    approval_message: approvalMessage,\n    approval_status: 'pending',\n    approval_timeout: 1800 // 30分钟（秒）\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5520,
        0
      ],
      "id": "prepare-approval-message",
      "name": "Step28_PrepareApprovalMessage",
      "notes": "准备Telegram审批消息",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "chatId": "-1002701013326",
        "text": "={{ $json.approval_message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        5760,
        0
      ],
      "id": "send-telegram-approval",
      "name": "Step29_SendTelegramApproval",
      "notes": "发送Telegram审批请求\n超时时间：30分钟",
      "webhookId": "telegram-approval-webhook",
      "credentials": {
        "telegramApi": {
          "id": "m6XN3m65FWrioOeZ",
          "name": "TelegramMAXshotManager"
        }
      }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6000,
        0
      ],
      "id": "wait-for-approval",
      "name": "Step30_WaitForApproval",
      "notes": "等待审批（30分钟超时）\n超时后自动拒绝",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// 处理审批结果\n// 功能：处理审批结果（批准/拒绝/超时）\n\nconst input = $input.first().json || {};\n\n// 默认：超时自动拒绝\nlet approvalStatus = 'rejected';\nlet approvalReason = '审批超时，自动拒绝';\n\n// 如果有审批结果，更新状态\n// 注意：这里需要从Telegram Webhook获取实际审批结果\n// 当前实现：超时自动拒绝\n\nreturn [{\n  json: {\n    ...input,\n    approval_status: approvalStatus,\n    approval_reason: approvalReason,\n    approved: approvalStatus === 'approved'\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6240,
        0
      ],
      "id": "process-approval-result",
      "name": "Step31_ProcessApprovalResult",
      "notes": "处理审批结果\n当前实现：超时自动拒绝\n后续需要集成Telegram Webhook获取实际审批结果",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "approval-check-condition",
              "leftValue": "={{ $json.approved }}",
              "rightValue": "=true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        6480,
        0
      ],
      "id": "if-approved",
      "name": "Step32_IfApproved",
      "notes": "判断是否已批准\n只有批准的内容才会存储",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "format-check-condition",
              "leftValue": "={{ $json.tweet_format }}",
              "rightValue": "=single",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.1,
      "position": [
        6720,
        0
      ],
      "id": "route-by-format",
      "name": "Step33_RouteByFormat",
      "notes": "根据格式路由到不同表\nSingle → publishing_queue\nThread → thread_queue",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "publishing_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_article_id",
              "fieldValue": "={{ $json.article_id }}"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "={{ $json.tweet_format }}"
            },
            {
              "fieldId": "content_text",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "tweet_type",
              "fieldValue": "={{ $json.tweet_type }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.image_url }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "=pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6960,
        -100
      ],
      "id": "insert-publishing-queue",
      "name": "Step34_InsertToPublishingQueue",
      "notes": "资产来源: 02_Supabase-基础插入-v1.0\n插入publishing_queue表，使用dataToSend自动映射",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fnZnIabVYCs4FncC",
          "name": "SupabaseMaxshot"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "tableId": "thread_queue",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "notion_article_id",
              "fieldValue": "={{ $json.article_id }}"
            },
            {
              "fieldId": "content_type",
              "fieldValue": "=thread"
            },
            {
              "fieldId": "content_text",
              "fieldValue": "={{ JSON.stringify($json.thread_items) }}"
            },
            {
              "fieldId": "tweet_type",
              "fieldValue": "={{ $json.tweet_type }}"
            },
            {
              "fieldId": "image_url",
              "fieldValue": "={{ $json.image_url }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "=pending"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        6960,
        100
      ],
      "id": "insert-thread-queue",
      "name": "Step35_InsertToThreadQueue",
      "notes": "资产来源: 02_Supabase-基础插入-v1.0\n插入thread_queue表，使用dataToSend自动映射",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fnZnIabVYCs4FncC",
          "name": "SupabaseMaxshot"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "notion_articles",
        "id": "={{ $('Step17_ParseContentGeneration').item.json.article_id }}",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "status",
              "fieldValue": "=completed"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        7200,
        0
      ],
      "id": "update-article-completed",
      "name": "Step36_UpdateArticleCompleted",
      "notes": "资产来源: 03_Supabase-基础更新-v1.0\n更新notion_articles表的status字段为completed",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "fnZnIabVYCs4FncC",
          "name": "SupabaseMaxshot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "id": "cb26439d-84d7-41cd-a3ed-4c5c4a9dbbde",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "deepseek-api-credential",
          "name": "DeepSeek API"
        }
      }
    }
  ],
  "connections": {
    "Step1_NotionTrigger": {
      "main": [
        [
          {
            "node": "Step2_FlattenNotionProperties",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step2_FlattenNotionProperties": {
      "main": [
        [
          {
            "node": "Step3_NullValueHandling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step3_NullValueHandling": {
      "main": [
        [
          {
            "node": "Step4_InsertToNotionArticles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step4_InsertToNotionArticles": {
      "main": [
        [
          {
            "node": "Step5_PrepareLLMCleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step5_PrepareLLMCleaning": {
      "main": [
        [
          {
            "node": "Step6_LLMArticleCleaning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step6_LLMArticleCleaning": {
      "main": [
        [
          {
            "node": "Step7_ParseCleaningOutput",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step7_ParseCleaningOutput": {
      "main": [
        [
          {
            "node": "Step8_UpdateArticleSummary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step8_UpdateArticleSummary": {
      "main": [
        [
          {
            "node": "Step9_PrepareRAGQuery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step9_PrepareRAGQuery": {
      "main": [
        [
          {
            "node": "Step10_GoogleGeminiEmbeddings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step10_GoogleGeminiEmbeddings": {
      "main": [
        [
          {
            "node": "Step11_SupabaseVectorSearch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step11_SupabaseVectorSearch": {
      "main": [
        [
          {
            "node": "Step12_FormatRetrievedContext",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step12_FormatRetrievedContext": {
      "main": [
        [
          {
            "node": "Step13_LLMModeJudgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step13_LLMModeJudgment": {
      "main": [
        [
          {
            "node": "Step14_ParseModeJudgment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step14_ParseModeJudgment": {
      "main": [
        [
          {
            "node": "Step15_ExpandTweets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step15_ExpandTweets": {
      "main": [
        [
          {
            "node": "Step16_LLMContentGeneration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step16_LLMContentGeneration": {
      "main": [
        [
          {
            "node": "Step17_ParseContentGeneration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step17_ParseContentGeneration": {
      "main": [
        [
          {
            "node": "Step18_CheckImageNeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step18_CheckImageNeeded": {
      "main": [
        [
          {
            "node": "Step19_IfImageNeeded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step19_IfImageNeeded": {
      "main": [
        [
          {
            "node": "Step20_DownloadNotionImage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step27_HandleNoImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step20_DownloadNotionImage": {
      "main": [
        [
          {
            "node": "Step21_CheckImageDownloadStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step21_CheckImageDownloadStatus": {
      "main": [
        [
          {
            "node": "Step22_IfDownloadSuccess",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step22_IfDownloadSuccess": {
      "main": [
        [
          {
            "node": "Step23_UploadToSupabaseStorage",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step25_HandleImageDownloadFailure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step23_UploadToSupabaseStorage": {
      "main": [
        [
          {
            "node": "Step24_MergeImageURL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step25_HandleImageDownloadFailure": {
      "main": [
        [
          {
            "node": "Step26_MergeContentAndImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step24_MergeImageURL": {
      "main": [
        [
          {
            "node": "Step26_MergeContentAndImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step27_HandleNoImage": {
      "main": [
        [
          {
            "node": "Step26_MergeContentAndImage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step26_MergeContentAndImage": {
      "main": [
        [
          {
            "node": "Step28_PrepareApprovalMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step28_PrepareApprovalMessage": {
      "main": [
        [
          {
            "node": "Step29_SendTelegramApproval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step29_SendTelegramApproval": {
      "main": [
        [
          {
            "node": "Step30_WaitForApproval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step30_WaitForApproval": {
      "main": [
        [
          {
            "node": "Step31_ProcessApprovalResult",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step31_ProcessApprovalResult": {
      "main": [
        [
          {
            "node": "Step32_IfApproved",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step32_IfApproved": {
      "main": [
        [
          {
            "node": "Step33_RouteByFormat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step33_RouteByFormat": {
      "main": [
        [
          {
            "node": "Step34_InsertToPublishingQueue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Step35_InsertToThreadQueue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step34_InsertToPublishingQueue": {
      "main": [
        [
          {
            "node": "Step36_UpdateArticleCompleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Step35_InsertToThreadQueue": {
      "main": [
        [
          {
            "node": "Step36_UpdateArticleCompleted",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Step6_LLMArticleCleaning",
            "type": "ai_languageModel",
            "index": 0
          }
        ],
        [
          {
            "node": "Step13_LLMModeJudgment",
            "type": "ai_languageModel",
            "index": 0
          }
        ],
        [
          {
            "node": "Step16_LLMContentGeneration",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflows",
    "saveDataSuccess": "all",
    "saveDataError": "all",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "timezone": "Asia/Shanghai"
  },
  "id": "23_Notion_Content_Generator_deploy_v1.0",
  "active": false,
  "nodesPositions": {
    "Step1_NotionTrigger": [
      0,
      0
    ],
    "Step2_FlattenNotionProperties": [
      240,
      0
    ],
    "Step3_NullValueHandling": [
      480,
      0
    ],
    "Step4_InsertToNotionArticles": [
      720,
      0
    ],
    "Step5_PrepareLLMCleaning": [
      960,
      0
    ],
    "Step6_LLMArticleCleaning": [
      1200,
      0
    ],
    "Step7_ParseCleaningOutput": [
      1440,
      0
    ],
    "Step8_UpdateArticleSummary": [
      1680,
      0
    ],
    "Step9_PrepareRAGQuery": [
      1920,
      0
    ],
    "Step10_GoogleGeminiEmbeddings": [
      2160,
      0
    ],
    "Step11_SupabaseVectorSearch": [
      2400,
      0
    ],
    "Step12_FormatRetrievedContext": [
      2640,
      0
    ],
    "Step13_LLMModeJudgment": [
      2880,
      0
    ],
    "Step14_ParseModeJudgment": [
      3120,
      0
    ],
    "Step15_ExpandTweets": [
      3360,
      0
    ],
    "Step16_LLMContentGeneration": [
      3600,
      0
    ],
    "Step17_ParseContentGeneration": [
      3840,
      0
    ],
    "Step18_CheckImageNeeded": [
      4080,
      0
    ],
    "Step19_IfImageNeeded": [
      4320,
      0
    ],
    "Step20_DownloadNotionImage": [
      4560,
      0
    ],
    "Step21_CheckImageDownloadStatus": [
      4800,
      0
    ],
    "Step22_IfDownloadSuccess": [
      5040,
      0
    ],
    "Step23_UploadToSupabaseStorage": [
      5280,
      -100
    ],
    "Step25_HandleImageDownloadFailure": [
      5280,
      200
    ],
    "Step24_MergeImageURL": [
      5520,
      0
    ],
    "Step26_MergeContentAndImage": [
      5760,
      0
    ],
    "Step27_HandleNoImage": [
      5760,
      200
    ],
    "Step28_PrepareApprovalMessage": [
      6000,
      0
    ],
    "Step29_SendTelegramApproval": [
      6240,
      0
    ],
    "Step30_WaitForApproval": [
      6480,
      0
    ],
    "Step31_ProcessApprovalResult": [
      6720,
      0
    ],
    "Step32_IfApproved": [
      6960,
      0
    ],
    "Step33_RouteByFormat": [
      7200,
      0
    ],
    "Step34_InsertToPublishingQueue": [
      7440,
      -100
    ],
    "Step35_InsertToThreadQueue": [
      7440,
      100
    ],
    "Step36_UpdateArticleCompleted": [
      7680,
      0
    ],
    "Workflow Description": [
      -240,
      -400
    ]
  }
}